version: '3.8'

services:
  frontend:
    build: .
    container_name: p6-frontend
    restart: unless-stopped
    ports:
      - "80:80"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
